# Dependencies
node_modules
.pnpm-store

# Build outputs
dist
.next
out
build
.turbo

# Env
.env
.env.local
.env.*.local

# IDE
.idea
.vscode/*
!.vscode/extensions.json

# OS
.DS_Store
Thumbs.db

# Flutter (apps/flutter-habit)
apps/flutter-habit/.dart_tool
apps/flutter-habit/build

# Logs
*.log

# Vercel
.vercel
